<h1 class="mt-5">Dashboard</h1>&nbsp;&nbsp;
<div class="containerR text-center">
    <p class="lead mb-3">Welcome <%= name %></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/auth/logout" class="btn btn-secondary btn-lg">Logout</a>
</div>