<div class="container">
<div class="row mt-20">
    <div class="col-md-10 m-auto">
        <div class="card card-body text-center">
            <p>Login to an existing account or register</p>
            <%- include ("./messages.ejs") %>
            <a href="/auth/login" class="btn btn-primary btn-block">Login</a>
            <a href="/auth/register" class="btn btn-secondary btn-block mb-2">Register</a>
        </div>
    </div>
</div>
</div>